/* navbar */
.navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(62, 158, 137);
    color: rgb(0, 46, 252);
    font-weight: bolder;
}
/* image */
img {
    padding: 20px;
 
}

.give-margin-top {
    margin-top: 50px;

}

.card-footer {
    border-top:10px solid rgb(62, 158, 137);
    text-align: center;
}

/* navbar */
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
    color:rgb(25, 25, 85);
    background-color: chartreuse;
}

/* contact */
.contact_input{
    width: 100%;
    font-weight: bold;
    padding: .4rem;
    border-radius: .5rem;

}

.btn {
    background-color: rgb(62, 158, 137);
    border-radius: 50px;
    padding: 25px;
}

#con{
    color: rgb(62, 158, 137);
}

.image {
    float: left;
}